# .NET
bin/
obj/
*.user
*.suo
*.DotSettings.user
*.yml
*.yaml

# Node
node_modules/
dist/
.pnpm-store/
*.log

# IDE
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
packages/
